---
layout: default
---

<article class="page">
  <div class="home row">

    <div class="post-list col-md-12">
      <h1 class="page-heading text-xs-center">Christopher Chandler</h1>
      <h4 class="text-xs-center text-muted">Composer</h4>

        <div class="row">
          <div class="col-xs-12 home-header">
            <img src="{{ site.baseurl }}/assets/img/dili-ossia-cropped.jpg" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <h4>Featured Works</h4>
            {% include home-featured-works.html %}
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <h4>Upcoming Events</h4>
            {% include home-latest-perfs.html %}
          </div>
        </div>

  </div><!-- ./home-row -->
</article>
