---
layout: default
title: News
---

<article class="page">
  <div class="news row">
    <div class="post-list col-md-8">
      <h1 class="page-heading">News</h1>
        {% for post in paginator.posts %}
          <div class="post">
            <div class="post-header">
              <h5><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
            <div class="post-content">
              {{ post.content }}
            </div>
          </div>
        {% endfor %}

        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
              <button type="button" class="btn btn-secondary-outline btn-sm">Newer</button>
            </a>
          {% else %}
            <span class="previous"><button type="button" class="btn btn-secondary-outline btn-sm" disabled>Newer</button></span>
          {% endif %}
          <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">
              <button type="button" class="btn btn-secondary-outline btn-sm">Older</button>
            </a>
          {% else %}
            <span class="next "><button type="button" class="btn btn-secondary-outline btn-sm" disabled>Older</button></span>
          {% endif %}
        </div>

      </div>

    <div class="aside col-md-4">
      {% include home-right-side.html %}
    </div>

  </div>
</article>
