<div class="latest featured-works">
  {% for entry in site.data.works %}
    {% if entry.Work == null %}
    {% elsif entry.Special contains "E" %}
    {% elsif entry.Special contains "F" %}
      {% if entry.Image == null %}
        <div class="row work {{ entry.Type }}">
           <div class="col-xs-12 info">
            {% if entry.Link == null %}
              <span class="title">{{ entry.Work }}</span>
            {% else %}
              <span class="title"><a href="{{ site.baseurl }}/music/{{ entry.Link }}.html">{{ entry.Work }}</a></span>
            {% endif %}
             <span class="year">({{ entry.Year }})</span>
             <p class="instrumentation">for {{ entry.Instrumentation }}</p>
           </div> <!-- /info -->
         </div> <!-- /.work -->
      {% else %}
        <div class="row work {{ entry.Type }}">
          <div class="col-xs-4">
            <img src="{{ site.baseurl }}/assets/img/{{ entry.Image }}" alt="image"/>
          </div>
          <div class="col-xs-8 info">
            {% if entry.Link == null %}
              <span class="title">{{ entry.Work }}</span>
            {% else %}
              <span class="title"><a href="{{ site.baseurl }}/music/{{ entry.Link }}.html">{{ entry.Work }}</a></span>
            {% endif %}
             <span class="year">({{ entry.Year }})</span>
             <p class="instrumentation">for {{ entry.Instrumentation }}</p>
           </div> <!-- /info -->
         </div> <!-- /.work -->
      {% endif %}
    {% endif %}
  {% endfor %}
</div><!-- /.featured-works -->
