<!-- <a class="fancybox" rel="group" href="big_image_1.jpg"><img src="small_image_1.jpg" alt="" /></a> -->
<a class="fancybox" rel="group" href="{{ site.baseurl }}/assets/scores/{{ entry.Score }}">
  <img src="{{ site.baseurl }}/assets/scores/{{ entry.Score }}" alt="" style="width:100%;height:100%;"/>
</a>
<a class="fancybox" rel="group" href="{{ site.baseurl }}/assets/scores/{{ entry.Score }}">
  <img src="{{ site.baseurl }}/assets/scores/{{ entry.Score }}" alt="" style="width:100%;height:100%;"/>
</a>
<!-- <embed class="score" src="{{ site.baseurl }}/assets/scores/{{ entry.Score }}.pdf" type='application/pdf'> -->
