<div class="perf-list">
  {% for entry in site.data.performances %}
    {% if entry.Composition == work %}
      <h3>Performances</h3>
      {% break %}
    {% endif %}
  {% endfor %}

  {% for entry in site.data.performances %}
    {% if entry.Composition == work %}
      <div class="perf">

        {% capture full_date %}{{ entry.Year }}-{{ entry.Month }}-{{ entry.Day }}{% endcapture %}

        <h5 class="date">{{ full_date | date:"%B" }} {{ full_date | date: "%-d" }}, {{ full_date | date: "%Y" }}</h5>

        {% if entry.Conductor == null %}
         <p class="performer">{{ entry.Performers }}</p>
        {% else %}
         <p class="performer">{{ entry.Performers }}</p>
         <p class="conductor">{{ entry.Conductor }}, conductor</p>
        {% endif %}

        {% if entry.Event == null %}
        {% else %}
          <p class="event">{{ entry.Event }}</p>
        {% endif %}

        <div class="address">
          <p>{{ entry.Venue }}</p>

          {% if entry.Street == null %}
          {% else %}
            <p>{{ entry.Street }}</p>
          {% endif %}

          <p>{{ entry.City }}, {{ entry.State }}</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
