{% if include.type == "aif" %}
  {% assign type = "aif" %}
{% else %}
  {% assign type = "mp3" %}
{% endif %}

{% if include.score == "N" %}

  <div class="row">
    <div class="col-md-7">

      {% if entry.Audio == null %}
      {% else %}
        <p>
          <audio src="{{ site.baseurl }}/assets/audio/{{ entry.Audio }}.{{ type }}" controls="controls" style="width:100%;height:100%;">
            <p>Your browser doesn't support HTML 5 audio, so click <a href="{{ site.baseurl }}/assets/audio/{{ entry.Audio }}.{{ type }}">here</a> to listen.</p>
          </audio>
        </p>
      {% endif %}

    </div>
  </div>

{% elsif include.score == "Y" %}
  {% if entry.Audio == null %}
  {% else %}
    <p>
      <audio src="{{ site.baseurl }}/assets/audio/{{ entry.Audio }}.{{ type }}" controls="controls" style="width:100%;height:100%;">
        <p>Your browser doesn't support HTML 5 audio, so click <a href="{{ site.baseurl }}/assets/audio/{{ entry.Audio }}.{{ type }}">here</a> to listen.</p>
      </audio>
    </p>
  {% endif %}

{% else %}
{% endif %}
