---
layout: page
title: Music
---

<div class="row">
	<div class="filters col-md-4 col-md-push-8 hidden-sm-down">
		<h5>Instrumentation:</h5>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm btn-block filter-work"
			data-filter="all">
			All
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm btn-block filter-work"
			data-filter=".large">
			Large Ensemble
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm btn-block filter-work"
			data-filter=".chamber">
			Chamber Ensemble
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm btn-block filter-work"
			data-filter=".electroacoustic">
			Electroacoustic
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm btn-block filter-work"
			data-filter=".solo">
			Solo
		</button>
	</div>

	<div class="filters col-sm-12 hidden-md-up">
		<h5>Instrumentation:</h5>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm filter-work"
			data-filter="all">
			All
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm filter-work"
			data-filter=".large">
			Large Ensemble
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm filter-work"
			data-filter=".chamber">
			Chamber Ensemble
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm filter-work"
			data-filter=".electroacoustic">
			Electroacoustic
		</button>
		<button
			type="button"
			class="btn btn-secondary-outline btn-sm filter-work"
			data-filter=".solo">
			Solo
		</button>
	</div>

	<div class="mixitup-music works-list col-md-8 col-md-pull-4 col-xs-12">
		{% for entry in site.data.works %}
			{% if entry.Work == null %}
			{% elsif entry.Special == "E" %}
			{% else %}
			<div class="row work {{ entry.Type }}">
				 <div class="col-xs-12 info">
					{% if entry.Link == null %}
						<span class="title">{{ entry.Work }}</span>
					{% else %}
						<span class="title"><a href="{{ site.baseurl }}/music/{{ entry.Link }}.html">{{ entry.Work }}</a></span>
					{% endif %}
					 <span class="year">({{ entry.Year }})</span>
					 <p class="instrumentation">for {{ entry.Instrumentation }}</p>
				 </div> <!-- /info -->
			 </div> <!-- /.work -->
			{% endif %}
		{% endfor %}
	</div><!-- /.mixitup-music -->
</div><!-- ./row -->
