---
layout: music
title: Recast Fragments
---

{% assign work = "Recast Fragments" %}

{% for entry in site.data.works %}
  {% if entry.Work == work %}

    {% if entry.Score == null %}

    <div class="row work">
      <div class="col-md-12">

        {% include music-title.html %}

        {% include music-audio-manual.html score="N" file="recast-mvmt1" name="Movement I" %}
        {% include music-audio-manual.html score="N" file="recast-mvmt2" name="Movement II" %}
        {% include music-audio-manual.html score="N" file="recast-mvmt3" name="Movement III" %}
        {% include music-audio-manual.html score="N" file="recast-mvmt4" name="Movement IV" %}

        {% include music-program-notes.html %}

      </div>
    </div>

    {% else %}

    <div class="row work">
      <div class="col-md-7">

        {% include music-title.html %}

        {% include music-audio-manual.html score="Y" file="recast-mvmt1" name="Movement I" %}
        {% include music-audio-manual.html score="Y" file="recast-mvmt2" name="Movement II" %}
        {% include music-audio-manual.html score="Y" file="recast-mvmt3" name="Movement III" %}
        {% include music-audio-manual.html score="Y" file="recast-mvmt4" name="Movement IV" %}

        {% include music-program-notes.html %}

      </div>

      <div class="col-md-5">

        {% include music-score.html %}

      </div>

    </div>

    {% endif %}

    {% include music-perf-list.html %}

  {% else %}
  {% endif %}
{% endfor %}
