---
layout: music
title: through a glass darkly
---

{% assign work = "through a glass darkly" %}

{% for entry in site.data.works %}
  {% if entry.Work == work %}

    {% if entry.Score == null %}

      <div class="row work">
        <div class="col-md-12">

          {% include music-title.html %}

          {% include music-audio.html %}

          {% include music-program-notes.html %}

        </div>
      </div>

    {% else %}

    <div class="row work">
      <div class="col-md-7">

        {% include music-title.html %}

        {% include music-audio.html %}

        {% include music-program-notes.html %}

      </div>

      <div class="col-md-5">

        {% include music-score.html %}

      </div>

    </div>

    {% endif %}

    {% include music-perf-list.html %}

  {% else %}
  {% endif %}
{% endfor %}
